<!DOCTYPE html>
<html>
  <head>
    <title>LabElf</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/resources/script.js"></script>
  </head>

  <body>
    <section id="formulas">
      <article class="formula_input_form">
        <div>
        <label for="field1">Concentration 1</label>
        <input id="field1" type="text" name="field1" placeholder="value">
        <label for="field2">Volume 1</label>
        <input id="field2" type="text" name="field2" placeholder="value">
        <label for="field3">Concentration 2</label>
        <input id="field3" type="text" name="field3" placeholder="value">
        <label for="field4">Volumn 2</label>
        <input id="field4" type="text" name="field4" placeholder="value">
        </div>
        <!--<label for="result">Volumn 2</label>-->
        <!--<div id="result"></div>-->
        <button id="submit">Calculate</button>


  </form>
  <article>
</section>
  </body>
</html>
