<!DOCTYPE html>
<html>
  <head>
    <title>LabElf</title>
  </head>

  <body>
    <section id="formulas">
      <article class="formula_input_form">
        <form action="/" method="post" enctype="multipart/form-data">
        <label for="field1">Concentration 1</label>
        <input id="field1" type="text" name="field1" placeholder="value">
        <label for="field2">Volume 1</label>
        <input id="field2" type="text" name="field2" placeholder="value">
        <label for="field3">Concentration 2</label>
        <input id="field3" type="text" name="field3" placeholder="value">
        <input type="submit" value="Calculate">
  </form>
  <article>
</section>
  </body>
</html>
